.carousel-slider-container{
    margin-top: 128px;
}

.carousel-slider{
    position: relative;
}

.carousel-slider .testimonials{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    gap: 38px;   
}


